<div class="card-columns m-3">
        <div class="card">
            <img src="assets/images/productos/{{product.codigo}}.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{product.descripcion}}</h5>
            <p class="card-text">Código de producto: {{product.codigo}}</p>
            <p class="card-text">{{product.categoria}}</p>
            <p class="card-text">Proveedor: {{product.proveedor}}</p>
            <p class="card-text">{{product.provDescr}}</p>
            <p class="card-text"><small class="badge badge-warning">$ {{product.precio | number}}</small></p>
            </div>
        </div>
    </div> 

<button class="btn btn-danger" [routerLink]="['/products/categories', category]" routerLinkActive="router-link-active">Regresar</button>
